{# _partials/_nav.twig #}

{% set navPrimary = craft.entries().section('header').one().navPrimary.all() %}

<nav id="nav" class="siteHeader">
    {# Brand #}
    <a class="siteHeader__brand" href="{{ siteUrl }}">
        <svg aria-hidden="true">
            <use xlink:href="{{ alias('@svg') }}logo--horizontal"></use>
        </svg>
        <span>Barr Foundation</span>
    </a>

    {# Hamburger #}
    <button class="siteHeader__trigger" aria-expanded="false" aria-controls="mobile-menu">
        <span>Menu</span>
        <span></span>
        <span></span>
        <span></span>
    </button>

    {# Mobile menu #}
    <ul id="mobile-menu" class="siteHeader__mobile-menu -is-hidden">
        {% for primary in navPrimary %}
            {% if primary.type != 'nestedItem' %}
                {{ _self.menuItem(primary, 'menu__item') }}
            {% endif %}
        {% endfor %}

        {% for primary in navPrimary %}
            {% if primary.type == 'nestedItem' %}
                {% set primaryLabel  = primary.navLabel %}

                {# Submenu #}
                <li class="menu__item menu__item--submenu">
                    {# Submenu trigger #}
                    <button class="submenu__trigger" aria-expanded="false" aria-controls="submenu-{{ loop.index }}">
                        {{ primaryLabel }}
                    </button>
                    
                    {# Submenu #}
                    {{ _self.submenu(loop.index, primary, true) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {# Desktop menu #}
    <ul class="siteHeader__menu">
        {% for primary in navPrimary %}
            {% if primary.type != 'nestedItem' %}
                {{ _self.menuItem(primary, 'menu__item') }}
            {% endif %}
        {% endfor %}

        {% for primary in navPrimary %}
            {% if primary.type == 'nestedItem' %}
                {% set primaryLabel  = primary.navLabel %}
                {% set currentSection = entry.section %}
                {% set active = 'false' %}

                {% if primaryLabel == 'Program Areas' %}
                    {% if currentSection == 'Program Areas' %}
                        {% set active = 'true' %}
                    {% endif %}
                {% elseif primaryLabel == 'Grantmaking' %}
                    {% if (currentSection == 'Grantmaking') or (currentSection == 'Grants') %}
                        {% set active = 'true' %}
                    {% endif %}
                {% elseif primaryLabel == 'About Us' %}
                    {% if (currentSection == 'About Us') or (currentSection == 'Directory') %}
                        {% set active = 'true' %}
                    {% endif %}
                {% elseif primaryLabel == 'News & Insights' %}
                    {% if (currentSection == 'News & Insights') or (currentSection == 'Blog') %}
                        {% set active = 'true' %}
                    {% endif %}
                {% endif %}

                {# Submenu #}
                <li class="menu__item menu__item--submenu" data-is-active="{{ active }}" aria-label="{{ primaryLabel }}">                    
                    {{ _self.submenu('', primary) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    
    <div style="display:none">Search</div>
</nav>



{# Submenu #}
{% macro submenu(id, submenu, mobile) %}
    {% set heading = submenu.heading %}
    {% set description = submenu.description %}
    {% set primaryNav = submenu.navMenu.all() %}
    {% set secondaryNav = submenu.secondaryNavMenu.all() %}

    {# Submenu overlay #}
    <div{% if id|length %} id="submenu-{{ id }}"{% endif %} class="submenu__overlay">
    {{ mobile == true ? '   <div>' }}
        {# Submeanu heading #}
        {% if heading|length %}
            <h3 class="submenu__heading">{{ heading }}</h3>
        {% endif %}

        {# Submenu description #}
        {% if description|length %}
            <div class="submenu__description">
                {{ description }}
            </div>
        {% endif %}

        {# Submenu menu #}
        <nav class="submenu__menu">
            <ul>
                {# Primary items #}
                {% for item in primaryNav %}
                    {# Menu item #}
                    {{ _self.menuItem(item, 'submenu__item submenu__item--primary') }}
                {% endfor %}

                {# Secondary items #}
                {% if secondaryNav %}
                    {% for item in secondaryNav %}    
                        {# Menu item #}
                        {{ _self.menuItem(item, 'submenu__item submenu__item--secondary') }}
                    {% endfor %}
                {% endif %}
            </ul>
        </nav>
    {{ mobile == true ? '   </div>' }}
    </div>
{% endmacro %}

{# Menu item #}
{% macro menuItem(item, classes) %}
    <li class="{{ classes }}">
        <a href="{{ item.navTarget.url }}">
            {{ item.navTarget.text }}
        </a>
    </li>
{% endmacro %}