{# _partials/_entry-grants-db.twig #}

{# =======================================
  Interior: Grantee Database
========================================== #}

{% import '_macros/01_elements/_angles' as angles %}
{% import '_macros/02_components/_card.twig' as cards %}

{# {% set awardYear = "now"|date("Y") - 1 %} #}

{% set layout = layout ?? 'grid' %}

{% set introLarge = entry.textRichLink %}
{% set intro      = entry.textIntro %}

<div class="page-grantmaking">
    {# Intro #}
    {% if introLarge or intro %}
        <{{ introLarge or intro ? 'section' : 'div' }} class="grantmaking-intro">
            <div class="angle">
                {{ angles.topLarge() }}
            </div>

            {% if introLarge or intro %}
                <div class="grants-intro__copy">
                    {% if introLarge %}
                        <div class="copy__large">
                            {{ introLarge }}
                        </div>
                    {% endif %}

                    {% if intro %}
                        <div class="copy__standard">
                            {{ intro }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </{{ introLarge or intro ? 'section' : 'div' }}>
    {% endif %}


    {{ sprig('sprig/_sprig-grants-grid-full', { limit: 15 }) }}
</div>
