{# _partials/_entry-grants-db.twig #}

{# =======================================
  Interior: Grantee Database
========================================== #}

{% import '_macros/01_elements/_angles' as angles %}
{% import '_macros/02_components/_card.twig' as cards %}

{# {% set awardYear = "now"|date("Y") - 1 %} #}

{% set layout = layout ?? 'grid' %}

{% set introLarge = entry.textRichLink %}
{% set intro      = entry.textIntro %}
{% set grantsList = craft.entries().section('grants').limit(3) %}

<div class="page-grantmaking">
    {# <div class="page-background">
        <div class="angle">
            {{ angles.topLarge() }}
        </div>
        
        {% if introLarge or intro %}
            <div class="background">
                <div class="background__inner"></div>
            </div>
        {% endif %}
    </div> #}

    <{{ introLarge or intro ? 'section' : 'div' }} class="grantmaking-intro">
        <div class="angle">
            {{ angles.topLarge() }}
        </div>

        {% if introLarge or intro %}
            <div class="grants-intro__copy">
                {% if introLarge %}
                    <div class="copy__large">
                        {{ introLarge }}
                    </div>
                {% endif %}

                {% if intro %}
                    <div class="copy__standard">
                        {{ intro }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </{{ introLarge or intro ? 'section' : 'div' }}>


    {# NOTE: the following elements will likely need to consolidated into a _sprig template #}
    <section class="grants-grid">
        {# GRANTEE CARDS: List or Grid View #}
        <div class="grants-grid__inner _is-{{ layout }}" data-columns="3">
            {% if grantsList|length %}
                {% for grant in grantsList %}
                    {# Retrieve current award year's grant associated with grantee #}
                    {# {% set grant = craft.entries({
                        section: "grants",
                        postDate: ["and", ">= #{awardYear}"],
                        entriesOrganization: grantee
                    }).one() %} #}

                    {% set grantee = grant.entriesOrganization.one %}

                    {% set config = {
                        'variant': layout == 'grid' ? 'grid' : 'list',
                        'content': {
                            'grantee': grantee,
                            'grant': grant
                        }
                    }%}

                    {{ cards.grant(config) }}
                {% endfor %}
            {% endif %}
        </div>
    </section>
</div>
