{# =======================================
  Macro: Filtering Dropdown
======================================= #}

{% set dropdownFilters = [] %}
{% set dropdownFilters = dropdownFilters|merge([defaultFilter]) %}
{% set dropdownFilters = dropdownFilters|merge(defaultFilters) %}

<fieldset class="feed-filters__fieldset">
  <legend class="fieldset__legend">{{ dropdownTitle }}</legend>

  <div class="dropdown" style="--number-of-filters: {{ dropdownFilters|length - 1 }}">
    <div class="dropdown__inner">
      {% set matchingFilter = false %}
      {% for dropdownFilter in dropdownFilters %}
        {% set id = dropdownFilter.id %}
        {% set title = dropdownFilter.title %}
        {% set value = title|replace(' ') %}

        {% if dropdownFiltersActive == value %}
          {% set matchingFilter = true %}

          <div class="dropdown__item -is-selected">
            <input type="radio" id="{{ dropdownFiltersHandle }}-{{ value }}" name="{{ dropdownFiltersHandle }}" value="{{ value }}" checked sprig>
            <label for="{{ dropdownFiltersHandle }}-{{ value }}">
              {{ title }}
              <svg>
                <use xlink:href="{{ alias('@icon') }}caret-20"></use>
              </svg>
            </label>
          </div>
        {% endif %}
      {% endfor %}

      <div class="dropdown__items">
        {% for dropdownFilter in dropdownFilters %}
          {% set id = dropdownFilter.id %}
          {% set title = dropdownFilter.title %}
          {% set value = title|replace(' ') %}
    
          {% if dropdownFiltersActive != value %}
            <div class="dropdown__item">
              <input type="radio" id="{{ dropdownFiltersHandle }}-{{ value }}" name="{{ dropdownFiltersHandle }}" value="{{ value }}" sprig>
              <label for="{{ dropdownFiltersHandle }}-{{ value }}">{{ title }}</label>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</fieldset>


{% js %}
  document.addEventListener('click', function(event) {
    const dropdown = document.querySelector(`.dropdown`);
      
    if (event.target == dropdown) {
      dropdown.classList.add(`-is-active`);
    } else {
      dropdown.classList.remove(`-is-active`);
    }
  });
{% endjs %}