{# =======================================
  Macro: View As
======================================= #}

<fieldset>
  <legend>View As</legend>

  <div class="view">
    {% set views = ['grid','list'] %}

    {% for view in views %}
      <div class="radio">
        <input
          id="view--{{ view }}"
          name="{{ viewHandle }}"
          type="radio"
          value="{{ view }}"
          sprig{{ activeView == view ? ' checked' }}
          s-swap="innerHTML show:top"
        >
        <label for="view--{{ view }}">{{ view|capitalize }}</label>
      </div>
    {% endfor %}
  </div>
</fieldset>