{# =======================================
  Macro: View As
======================================= #}

<fieldset>
  <legend>View As</legend>

  <div class="view">
    {% set views = ['grid','list'] %}

    {% for view in views %}
      <div class="radio">
        <input type="radio" id="view--{{ view }}" name="viewAs" value="{{ view }}" sprig{{ viewAs == view ? ' checked' }}>
        <label for="view--{{ view }}">{{ view|capitalize }}</label>
      </div>
    {% endfor %}
  </div>
</fieldset>