{# =======================================
  Macro: Details Element
==========================================
  Params:
    - variant (required):
      - 'tags', 'location', 'region', 'byline', 'job-title'
    - isReversed (required):
      - true, false
    - details
      'details', ['detail', 'detail']
======================================= #}

{% macro detail(variant, isReversed, details) %}
  {% import '_macros/01_elements/_image' as images %}
  
  {# Tags #}
  {% if variant == 'tags' %}
    {{ _self.list(variant, isReversed, details) }}

  {# Byline #}
  {% elseif variant == 'byline' %}
    {# Byline list #}
    {% if details|length > 1 %}
      {{ _self.list(variant, isReversed, details) }}
    
    {# Single #}
    {% else %}
      <span class="details" data-variant="{{ variant }}" data-is-reversed="{{ isReversed == false ? 'false' : 'true' }}">
      {% for detail in details %}
        <span>
          {% if detail.img|length %}
            {{ images.image(detail.img, '240', '1/1', '', false) }}
          {% endif %}
          {{ detail.name }}
        </span>
      {% endfor %}
      </span>
    {% endif %}

  {# Location, Region, and Job Title #}
  {% else %}
    {% set icon =
      variant == 'location' ? 'home' :
      variant == 'region' ? 'map-pin' :
      variant == 'job-title' ? 'person'
    %}

    {% set title = variant|title|replace({'-': ' '}) %}
    
    <p class="details details--no-wrap" data-is-reversed="{{ isReversed == false ? 'false' : 'true' }}">
      <svg class="details__icon">
        <title>{{ title }}</title>
        <use xlink:href="{{ alias('@icon') }}{{ icon }}-20"></use>
      </svg>
      {{ details }}
    </p>
  {% endif %}

  {# List #}
  {% macro list(variant, isReversed, details) %}
    {% import '_macros/01_elements/_image' as images %}

    {% set programAreas =  craft.entries().section('programAreas') %}
    {% set programArea = '' %}
    {% set areaColor = '' %}

    <ul class="details" data-variant="{{ variant }}" data-is-reversed="{{ isReversed == false ? 'false' : 'true' }}">
      {% for detail in details %}
        <li>
          {% if variant == 'tags' %}

            {% for area in programAreas %}
              {% if detail.title == area.title %}
                {% set programArea = area %}
              {% endif %}
            {% endfor %}

            {% if programArea %}
              {% set areaColor =
                programArea == 'Arts & Creativity' ? 'green' :
                programArea.ancestors.one == 'Arts & Creativity' ? 'green' :
                programArea.title == 'Climate' ? 'plum' :
                programArea.ancestors.one == 'Climate' ? 'plum' :
                programArea.title == 'Education' ? 'marigold' :
                programArea.ancestors.one == 'Education' ? 'marigold' :
                'teal'
              %}
            {% endif %}

            <a{{ areaColor|length ? ' data-program-color=' ~ areaColor }} href="{{ detail.url }}">{{ detail.title }}</a>
          {% elseif variant == 'byline' %}
            {% if detail.img|length %}
              {{ images.image(detail.img, '240', '1/1', '', false) }}
            {% endif %}
            {{ detail.name }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endmacro %}
{% endmacro %}