{# =======================================
  Macro: Details Element
==========================================
  Params:
    - variant (required):
      - 'tags', 'location', 'region', 'byline', 'job-title'
    - isReversed (required):
      - true, false
    - details
      'details', ['detail', 'detail']
    - icon
======================================= #}

{% macro detail(variant, isReversed, details, icon) %}
  {% import '_macros/01_elements/_image' as images %}
  
  {# Tags #}
  {% if variant == 'tags' %}
    {{ _self.list(variant, isReversed, details) }}

  {# Byline #}
  {% elseif variant == 'byline' %}
    {# Byline list #}
    {% if details|length > 1 %}
      {{ _self.list(variant, isReversed, details) }}
    
    {# Single #}
    {% else %}
      {# <a class="details" data-variant="{{ variant }}" data-is-reversed="{{ isReversed == false ? 'false' : 'true' }}" href="{{ detail.url }}"> #}
      <span class="details" data-variant="{{ variant }}" data-is-reversed="{{ isReversed == false ? 'false' : 'true' }}">
      {% for detail in details %}
        {% if detail.url is defined %}<a href="{{ detail.url }}">{% else %}<span>{% endif %}
          {% if detail.img|length %}
            {{ images.image(detail.img, '240', '1/1', '', false) }}
          {% endif %}
          <span>{{ detail.name }}</span>
        {% if detail.url is defined %}</a>{% else %}</span>{% endif %}
      {% endfor %}
      </span>
    {% endif %}

  {# Location, Region, and Job Title #}
  {% else %}
    {% if icon %}
    {% else %}
      {% set icon =
        variant == 'location' ? 'home' :
        variant == 'region' ? 'map-pin' :
        variant == 'job-title' ? 'person'
      %}
    {% endif %}

    {% set title = variant|title|replace({'-': ' '}) %}
    
    <p class="details details--no-wrap" data-is-reversed="{{ isReversed == false ? 'false' : 'true' }}">
      <svg class="details__icon">
        <title>{{ title }}</title>
        <use xlink:href="{{ alias('@icon') }}{{ icon }}-20"></use>
      </svg>
      {{ details|raw }}
    </p>
  {% endif %}

  {# List #}
  {% macro list(variant, isReversed, details) %}
    {% import '_macros/01_elements/_image' as images %}

    {% set programAreas = craft.entries().section('programAreasCategories') %}

    <ul class="details" data-variant="{{ variant }}" data-is-reversed="{{ isReversed == false ? 'false' : 'true' }}">
      {% for detail in details %}
        {% set programArea = '' %}
        {% set areaColor = '' %}

        <li>
          {% if variant == 'tags' %}

            {% for area in programAreas %}
              {% if detail.title == area.title %}
                {% set programArea = area %}
              {% endif %}
            {% endfor %}

            {% if programArea %}
              {% set areaColor =
                programArea == 'Arts & Creativity' ? 'green' :
                programArea.ancestors.one == 'Arts & Creativity' ? 'green' :
                programArea.title == 'Climate' ? 'plum' :
                programArea.ancestors.one == 'Climate' ? 'plum' :
                programArea.title == 'Education' ? 'marigold' :
                programArea.ancestors.one == 'Education' ? 'marigold' :
                'teal'
              %}
            {% endif %}

            {# <a{{ areaColor|length ? ' data-program-color=' ~ areaColor }} href="{{ detail.url }}">{{ detail.title }}</a> #}
            <span{{ areaColor|length ? ' data-program-color=' ~ areaColor }}>{{ detail.title }}</span>
          {% elseif variant == 'byline' %}
            {% if detail.url %}<a href="{{ detail.url }}">{% endif %}
              {% if detail.img|length %}
                {{ images.image(detail.img, '240', '1/1', '', false) }}
              {% endif %}
              <span>{{ detail.name }}</span>
            {% if detail.url %}</a>{% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endmacro %}
{% endmacro %}