{# =======================================
  Module: Latest News
======================================= #}

{% macro latestNews(block) %}
  {% import '_macros/01_elements/_actions' as actions %}
  {% import '_macros/01_elements/_section-title' as sectionTitles %}
  {% import '_macros/02_components/_card' as cards %}

  {# Set title #}
  {% set sectionTitleAttributes = {
    level: 'h2',
    title: block.textHeading,
    variant: '', border: true
  } %}

  {# Set manualFeed #}
  {% set manualFeed = block.children.one.cardLatestNewsManual ? block.children.one.cardLatestNewsManual %}
  {# Set autoFeed #}
  {% set autoFeed = block.children.one.cardLatestNews ? block.children.one.cardLatestNews %}
  {# Set empty feedCards array #}
  {% set feedCards = [] %}

  {# If manual card selection #}
  {% if manualFeed|length %}
  {# For manually selected card #}
    {% for item in manualFeed %}
      {# If generic or media card #}
      {% if item.type == 'audio' or item.type == 'video' %}
        {% set feedCards = feedCards|merge([item]) %}

      {# If entry card #}
      {% else %}
        {% set feedCards = feedCards|merge([item.blogPostOrNewsItem.one]) %}
      {% endif %}
    {% endfor %}
            
  {# Auto cards #}
  {% else %}
    {% set sources = [] %}

    {% for source in autoFeed %}
      {% set sources = sources|merge([source.value]) %}
    {% endfor %}

    {% set autoCards = craft.entries().section(sources).limit(4) %}
    {% for card in autoCards %}
      {% set feedCards = feedCards|merge([card]) %}
    {% endfor %}
  {% endif %}

  {# Set action card #}
  {% set actionCard = block.cardAction %}


  <section class="latest-news">
    {# Section Title #}
    {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}

    {# Cards #}
    <div class="latest-news__grid" data-columns="{{ feedCards|length }}">
      {# Featured card #}
      <div class="latest-news__featured-card">
        {% for card in feedCards %}
          {% if loop.index == 1 %}
            {{ _self.card(card) }}
          {% endif %}
        {% endfor %}
      </div>

      {# Secondary cards #}
      <div class="latest-news__secondary-cards">
        {% for card in feedCards %}
          {% if loop.index != 1 %}
            {{ _self.card(card) }}
          {% endif %}
        {% endfor %}

        {# Action Card #}
        {% if actionCard|length %}
          {{ cards.action(actionCard) }}
        {% endif %}
      </div>
    </div>
  </section>


  {% macro card(card) %}
    {% import '_macros/02_components/_card' as cards %}
    
    {% if card.type == 'audio' or card.type == 'video' %}
      {% set cardConfig  = {
        'variant': card.type,
        'image': card.assetImage.one(),
        'videoUrl': card.type == 'video' ? card.videoUrl : null,
        'label': card.label,
        'title': card.cardTitle,
        'summary': card.summary,
        'action': card.actionLink,
        'audioSnippet': card.type == 'audio' ? card.audioSnippet.one : null
      } %}
      {{ cards.media(cardConfig) }}
      
    {% else %}
      {% set cardVariant =
        card.section.handle == 'blog' ? 'post' :
        card.section.handle == 'newsroom' ? 'news'
      %}
            
      {% if cardVariant == 'post' %}
        {{ cards.post(card) }}
          
      {% elseif cardVariant == 'news' %}
        {{ cards.news(card) }}
      {% endif %}
    {% endif %}
  {% endmacro %}
{% endmacro %}