{# =======================================
  Module: Program Tabs
==========================================
  Params:
    - module
======================================= #}

{% macro programTabs(module) %}
    {% import '_macros/01_elements/_angles' as angles %}

    {% set programs = module.tabsProgram %}

    <section class="program-tabs" data-theme-color="teal">
        <div class="program-tabs__inner">
            <div class="program-tabs__primary">
                {# Primary intro #}
                <div class="program-tabs__intro">
                    <h1 class="program-tabs__preheading">{{  module.textPreheading }}</h1>
                    <div class="program-tabs__support">{{  module.textRichBasic }}</div>
                </div>

                {# Tabs content #}
                <div class="program-tabs__cards">
                    {% for program in programs %}
                        {{ _self.tabCard(program, 'mobile') }}
                    {% endfor %}
                </div>
            </div>

            <div class="program-tabs__nav">
                {% for program in programs %}
                    {% set programEntry = program.entryProgramArea.one() %}
                    {% set programTitle = programEntry.title %}
                    {% set isPrimary = program.flagPrimary %}

                    {% set themeColor =
                        programEntry.title == 'Arts & Creativity' ? 'green' :
                        programEntry.ancestors.one == 'Arts & Creativity' ? 'green' :
                        programEntry.title == 'Climate' ? 'plum' :
                        programEntry.ancestors.one == 'Climate' ? 'plum' :
                        programEntry.title == 'Education' ? 'marigold' :
                        programEntry.ancestors.one == 'Education' ? 'marigold' :
                        'teal'
                    %}

                    <div class="program-tabs__item {{ isPrimary ? 'program-tabs__item--primary' : 'program-tabs__item--secondary' }}" data-target="{{ programTitle|slugify }}" data-theme-color={{ themeColor }}>
                        {# Nav item #}
                        <h2 class="program-tabs__label {{ isPrimary ? 'program-tabs__label--primary' : 'program-tabs__label--secondary' }}">
                            {{ programTitle }}
                        </h2>
                        {# Card #}
                        {{ _self.tabCard(program, 'desktop') }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="angle">
            {{ angles.top() }}
        </div>
    </section>


    {% macro tabCard(program, variant) %}
        {% import '_macros/01_elements/_actions' as actions %}
        {% import '_macros/01_elements/_image' as images %}

        {% set programEntry = program.entryProgramArea.one() %}
        {% set programTitle = programEntry.title %}
        {% set programLink = programEntry.uri %}
        {% set programImg = program.assetImage.one() %}
        {% set programSupport = program.textSupporting %}
        {% set programNews = program.entryNews.one() ?? null %}

        <div class="program-tabs__card program-tabs__card--{{ variant }}" data-card{{ variant == 'desktop' ? '-desktop' }}="{{ programTitle|slugify }}">
            <div class="card__wrapper">
                <div class="card__inner">
                    {# Image #}
                    {{ images.image(programImg, '912', '2/1', '', false) }}

                    {# Support text #}            
                    <div class="card__support">
                        {{ programSupport }}
                    </div>

                    {# Action #}
                    {% set actionAttributes = {
                        type: 'button', isReversed: false,
                        icon: 'linkType', iconOnly: false,
                        text: 'Learn More', url: programLink,
                        linkType: 'entry', target: ''
                    } %}
                    {{ actions.action(actionAttributes) }}

                    {# News item #}
                    {% if programNews %}
                        <div class="card__news">
                            <h3 class="news__preheading">Latest in {{ programTitle }}</h3>
                            <div>
                                <a class="news__heading" href="{{ programNews.url }}">{{ programNews.title }}</a>
                                <time class="news__date" datetime="{{ programNews.postDate|date|format('Y-mm-dd') }}">{{ programNews.postDate|date|format('M dd, Y') }}</time>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endmacro %}
{% endmacro %}