{# =======================================
  Module: Program Tabs
==========================================
  Params:
    - module
======================================= #}

{% macro programTabs(module) %}
    {% import '_macros/02_components/_assets' as assets %}

    <section class="blockTabs">
        <div class="blockTabs-intro">
            <h1 class="blockTabs-preheading">{{  module.textPreheading }}</h1>
            <div class="blockTabs-support">{{  module.textRichBasic }}</div>
        </div>

        {% set programs = module.tabsProgram %}
        <div class="blockTabs-content">
            {% for p in programs %}
                {% set programEntry = p.entryProgramArea.one() %}
                {% set programTitle = programEntry.title %}
                {% set programLink = programEntry.uri %}
                {% set isPrimary = p.flagPrimary %}
                {% set programImg = p.assetImage|length ? p.assetImage.one() ?? null %}
                {% set programSupport = p.textSupporting %}
                {% set programNews = p.entryNews.one() ?? null %}
                
                <div class="blockTabs-item">
                    <h2 class="blockTabs-label {{ isPrimary ? 'blockTabs-label--primary' : 'blockTabs-label--secondary' }}">{{ programTitle }}</h2>
                            
                    <div class="blockTabs-card">
                        {% if programImg %}
                            {% set obj = {
                                'handle': 'mediaImage',
                                'hook': 'blockTabs' 
                            }%}
                            {{ assets.transformedImage(programImg,obj) }}
                        {% endif %}

                        <div class="blockTabs-support">{{ programSupport }}</div>
                        
                        <a class="blockTabs-button" href="{{ programLink }}" title="">Learn More</a>

                        {% if programNews %}
                            <div class="blockTabs-news">
                                <h3 class="blockTabs-preheading">Latest in {{ programTitle }}</h3>
                                <div>
                                    <h4 class="blockTabs-news-heading">{{ programNews.title }}</h4>
                                    <time class="blockTabs-news-date" datetime="{{ programNews.dateOnly|date|format('Y-mm-dd') }}">{{ programNews.dateOnly|date|format('M dd, Y') }}</time>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endmacro %}