{# _partials/_entry-grants-org.twig 

{# =======================================
  Interior: Grantee Organization
========================================== #}

{% import '_macros/01_elements/_angles' as angles %}
{% import '_macros/01_elements/_section-title' as sectionTitles %}
{% import '_macros/02_components/_card.twig' as cards %}
{% import '_macros/03_modules/_feed' as feeds %}

{# Set Grant Year (previous year). 
    NOTE: 
    1. This might need to be adjusted depending on biz reqs 
    2. Can a grantee receive multiple grants per year?
#}

{% set layout = layout ?? 'grid' %} {# grid or list #}

{# TODO: enable filtering, grid/list toggle view, keyword search, pagination #}
{# Retrieve all grants associated with grantee #}
{% set grantList = craft.entries().section('grants').entriesOrganization(entry).all() %}

{# NOTE: the following elements will likely need to consolidated into a _sprig template #}
{% if grantList|length %}
    <section class="grants-grid" data-background="true">
        <div class="angle">
            {{ angles.top() }}
        </div>
        {# FILTERS GO HERE #}
        {# <div class="blockGeneric">
            Filters
        </div> #}

        <div class="grants-grid__inner" data-columns="2">
            {% for grant in grantList %}
                {% set config = {
                    'variant': layout == 'grid' ? 'grid' : 'list',
                    'content': {
                        'grant': grant
                    }
                }%}
                {{ cards.grant(config) }}
            {% endfor %}
        </div>
    </section>
{% endif %}

{% set relatedCards = entry.cardsFeedManual %}

{# Related Content #}
{% if relatedCards|length %}
    {# Set manualFeed #}
    {% set manualFeed = relatedCards %}
    {# Set empty feedCards array #}
    {% set feedCards = [] %}

    {# If manual card selection #}
    {% if manualFeed|length %}
        {# For manually selected card #}
        {% for item in manualFeed %}
            {# If generic or media card #}
            {% if item.type == 'generic' or item.type == 'audio' or item.type == 'video' %}
                {% set feedCards = feedCards|merge([item]) %}
                    
            {# If entry card #}
            {% else %}
                {% set feedCards = feedCards|merge([item.blogPostNewsItemGranteeOrGrant.one]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
            
    <section class="feed">
        {# Section Title #}
        {% set sectionTitleAttributes = {
            level: 'h2',
            title: 'Related Content',
            variant: 'small', border: true
        } %}
        {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}

        {# Feed #}
        <div class="cardRow" data-columns="{{ feedCards|length }}">
                {% for card in feedCards %}
                    {% if card.type == 'generic' %}
                        {% set cardConfig  = {
                            'variant': card.type,
                            'image': card.assetImage.one(),
                            'label': card.label,
                            'title': card.cardTitle,
                            'summary': card.summary,
                            'action': card.actionLink
                        } %}
                        {{ cards.generic(cardConfig) }}
                    {% elseif card.type == 'audio' or card.type == 'video' %}
                        {% set cardConfig  = {
                            'variant': card.type,
                            'image': card.assetImage.one(),
                            'videoUrl': card.type == 'video' ? card.videoUrl : null,
                            'label': card.label,
                            'title': card.cardTitle,
                            'summary': card.summary,
                            'action': card.actionLink,
                            'audioSnippet': card.type == 'audio' ? card.audioSnippet.one : null
                        } %}
                        {{ cards.media(cardConfig) }}
                    {% else %}
                        {% set cardVariant =
                            card.section.handle == 'blog' ? 'post' :
                            card.section.handle == 'newsroom' ? 'news'
                            : card.section.handle
                        %}

                        {% if cardVariant == 'grantees' %}
                            {% set grantee = card %}
                            {% set granteeCardConfig = {
                                'grantee': grantee
                            } %}

                            {{ cards.grantee(granteeCardConfig) }}
                            
                        {% elseif cardVariant == 'post' %}
                            {{ cards.post(card) }}

                        {% elseif cardVariant == 'news' %}
                            {{ cards.news(card) }}
                            
                        {% elseif cardVariant == 'grants' %}
                            <article class="cardItem cardItem--grant">
                                <div class="cardItem__inner">
                                    {# Header #}
                                    <header class="cardItem__header">
                                        <h3 class="cardItem__heading">Grant Placeholder Card: {{ card.title }}</h3>
                                    </header>
                                </div>
                            </article>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
    </section>
{% endif %}