{# _partials/_entry-grants-db.twig #}

{# =======================================
  Interior: Grantee Database
========================================== #}

{# {% import '_macros/02_components/_card.t wig' as cards %} #}

{# Uncomment as needed
{% import '_macros/02_components/_assets' as assets %}
{% import '_macros/01_elements/_actions' as actions %}
{% import '_macros/01_elements/_breadcrumb' as breadcrumbs %}
{% import '_macros/01_elements/_details' as details %}
{% import '_macros/01_elements/_section-title' as sectionTitles %}
#}

{# Set Grant Year (previous year). 
    NOTE: 
    1. This might need to be adjusted depending on biz reqs 
    2. Can a grantee receive multiple grants per year?
#}
{# {% set awardYear = "now"|date("Y") - 1 %}

{% set layout = layout ?? 'grid' %} grid or list #}

{# TODO: enable filtering, grid/list toggle view, keyword search, pagination #}

{# {% set granteeList = craft.entries().section('grantees').limit(12) %}
{% paginate granteeList as pageInfo, pageEntries %} #}

{# NOTE: the following elements will likely need to consolidated into a _sprig template #}

<section class="grants-grid" style="display:none">
    {# FILTERS GO HERE #}
    {# <div class="blockGeneric">
    </div> #}

    {# GRANTEE CARDS: List or Grid View #}
    <div class="grants-grid__inner _is-{{ layout }}" data-columns="3">
        {% if granteeList|length %}
            {% for grantee in granteeList %}
                {# Retrieve current award year's grant associated with grantee #}
                {% set grant = craft.entries({
                    section: "grants",
                    dateOnly: ["and", ">= #{awardYear}"],
                    entriesOrganization: grantee
                }).one() %}

                {% set config = {
                    'variant': layout == 'grid' ? 'grid' : 'list',
                    'content': {
                        'grantee': grantee,
                        'grant': grant
                    }
                }%}

                {{ cards.grant(config) }}
            {% endfor %}
        {% endif %}
    </div>
</section>

{# <section> #}
    {# FILTERS GO HERE #}
    {{ sprig('_macros/02_components/_grants') }}
    {# <div class="blockGeneric"></div> #}
    {# GRANTEE CARDS: List or Grid View #}
    {# <div class="blockFeed blockFeed--triplet _is-{{ layout }}">
    {% if pageEntries|length %}
    {% for grantee in pageEntries %} #}
        {# Retrieve current award year's grant associated with grantee #}
        {# {% set grant = craft.entries({
            section: "grants",
            dateOnly: ["and", ">= #{awardYear}"],
            entriesOrganization: grantee
        }).one() %}

        {% set config = {
            'variant': layout == 'grid' ? 'grid' : 'list',
            'content': {
                'grantee': grantee,
                'grant': grant
            }
        }%}

        {{ cards.grant(config) }}

    {% endfor %}
    {% set end = pageInfo.totalPages %}
    <a href="{{ pageInfo.firstUrl }}">First Page</a>
    {% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">Previous Page</a>{% endif %}

    {% if pageInfo.currentPage > 4 %}
        {% for page, url in pageInfo.getRangeUrls(1 , 3) %}
            {% if page == pageInfo.currentPage %}
                <span class="current">{{ pageInfo.currentPage }}</span>
            {% else %}
                <a href="{{ url }}">{{ page }}</a>
            {% endif %}   
        {% endfor %}
    {% else %}
        {% for page, url in pageInfo.getRangeUrls(1 , 5) %}
            {% if page == pageInfo.currentPage %}
                <span class="current">{{ pageInfo.currentPage }}</span>
            {% else %}
                <a href="{{ url }}">{{ page }}</a>
            {% endif %}   
        {% endfor %}
    {% endif %}
    
    {% if pageInfo.currentPage > 4 and pageInfo.currentPage < end - 3 %}
    {% if pageInfo.currentPage != 5 %}<span> . . . </span>{% endif %}
    <a href="{{ pageInfo.prevUrl }}">{{ pageInfo.currentPage - 1 }}</a>
    <span class="current">{{ pageInfo.currentPage }}</span>
    <a href="{{ pageInfo.nextUrl }}">{{ pageInfo.currentPage + 1 }}</a>
    {% if pageInfo.currentPage != end - 4 %}<span> . . . </span>{% endif %}
    {% else %}
    <span> . . . . . . </span>
    {% endif %}
    {% if pageInfo.currentPage < end - 3 %}
        {% for page, url in pageInfo.getRangeUrls(end - 2 , end) %}
            {% if page == pageInfo.currentPage %}
                <span class="current">{{ pageInfo.currentPage }}</span>
            {% else %}
                <a href="{{ url }}">{{ page }}</a>
            {% endif %}   
        {% endfor %}
    {% else %}
        {% for page, url in pageInfo.getRangeUrls(end - 5 , end) %}
            {% if page == pageInfo.currentPage %}
                <span class="current">{{ pageInfo.currentPage }}</span>
            {% else %}
                <a href="{{ url }}">{{ page }}</a>
            {% endif %}   
        {% endfor %}
    {% endif %}

    {% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">Next Page</a>{% endif %}
    <a href="{{ pageInfo.lastUrl }}">Last Page</a>
    {% endif %}
    </div> #}
{# </section> #}

