{# ===========================================================
Template: interior/index.twig
URL: /
===========================================================
Interior template
=========================================================== #}

{% extends '_layouts/_base' %}

{% import '_macros/01_elements/_actions' as actions %}
{% import '_macros/01_elements/_section-title' as sectionTitles %}
{% import '_macros/03_modules/_bio' as bios %}
{% import '_macros/03_modules/_feed' as feeds %}
{% import '_macros/03_modules/_opener' as openers %}

{% block content %}

    {# INTERIOR OPENER #}
    {% set entrySection = entry.section.handle %}

    {% if entrySection == 'programAreas' %}
        {% set opener = entry.openerLanding %}
        {{ openers.landing(opener, entry) }}
    {% elseif entrySection == 'directory' %}
        {{ openers.bio(entry) }}
    {% endif %}


    {# INTERIOR BUILDER: #}
    {# 1. People is a unique builder
    2. Program Areas landing is a unique builder
    3. Default to common builder for everything else
    #}
    {% set isBio = entrySection == 'directory' %}
    {% set builder =
        entry.builderCommon ??
        entry.builderPeople ??
        entry.builderProgramAreas ??
        entry.builderInquiryForm ??
        null
    %}

    {% if builder %}
        {% if entrySection == 'programAreas' and entry.type == 'landing' %}
            {% include '_partials/_builder-program-areas.twig' with {'builder': builder} %}
        {% elseif entrySection == 'aboutUs' and entry.type == 'directory' %}
            {% include '_partials/_builder-people.twig' with {'builder': builder} %}
        {% else %}
            {% include '_partials/_builder-common.twig' with {'builder': builder} %}
            {% if entry.title == "Inquiry Form" %}
            <div class="container-narrow" style="padding-block-end:var(--base-18)">
                <img src="{{ siteUrl }}build/images/ac-inquiry-form.png">
            </div>
            {% endif %}
        {% endif %}

    {% elseif isBio %}
        {{ bios.bio(entry) }}

    {% endif %}


    {# Interior Pre-Footer #}
    {% set teamFeed = entry.feedTeam ?? entry.feedTeam %}
    {% if teamFeed|length %}
        {% set title = teamFeed.one.teamTitle %}
        {% set feed  = teamFeed.one.team %}
        {% set feedConfig = {
            'title': title,
            'titleVariant': '',
            'feed': feed,
            'gridVariant': 'grid',
            'cardVariant': 'bio'
        } %}

        {{ feeds.feed(feedConfig) }}
    {% endif %}

    {% if entrySection == 'programAreas' %}
        {% if entry.textPlainHeading or entry.textDescription %}
            {% if entry.type == 'inquiryForm' %}
                <section class="prefooterForm">
                    {% if entry.textPlainHeading %}
                        {# Section Title #}
                        {% set sectionTitleAttributes = {
                            level: 'h2',
                            title: entry.textPlainHeading,
                            variant: '', border: true
                        } %}
                        {{ sectionTitles.sectionTitle(sectionTitleAttributes) }}
                    {% endif %}
                    {% if entry.textDescription %}
                        <div class="prefooterForm__description">
                            {{ entry.textDescription }}
                        </div>

                        <div class="blockGeneric">
                            <h2 class="blockGeneric-heading">Inquiry form will appear here.</h2>
                        </div>
                    {% endif %}
                </section>
            {% else %}
                <section class="prefooterInquiry">
                    {% set action = entry.actionAll %}

                    {% if entry.textPlainHeading %}
                        <h2>{{ entry.textPlainHeading }}</h2>
                    {% endif %}
                    {% if entry.textDescription %}
                        <div class="prefooterInquiry__description">
                            {{ entry.textDescription }}
                        </div>
                    {% endif %}

                    {% if action.url|length %}
                        {% set actionAttributes = {
                            type: 'button', isReversed: false,
                            icon: '', iconOnly: false,
                            text: action.text, url: action,
                            linkType: 'entry', target: action.target
                        } %}
                        {{ actions.action(actionAttributes) }}
                    {% endif %}
                </section>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}