{# ===========================================================
Template: interior/news-and-insights.twig
URL: /
===========================================================
News & Insights Interior template
=========================================================== #}

{% extends '_layouts/_base' %}

{% import '_macros/01_elements/_angles' as angles %}
{% import '_macros/02_components/_featured-carousel' as featuredCarousel %}
{% import '_macros/02_components/_post-aside' as postAside %}
{% import '_macros/03_modules/_feed' as feeds %}
{% import '_macros/03_modules/_opener' as openers %}
{% import "_macros/03_modules/_text.twig" as modules %}

{% set entrySection = entry.section.handle %}
{% set opener = entry.openerLanding %}
{% set builder = entry.builderCommon ?? null %}


{% block content %}
    {# Opener #}
    {% if entrySection == 'blog' %}
        {{ openers.post(entry) }}
    {% elseif entrySection == 'newsroom' %}
        {{ openers.post(entry) }}
    {% else %}
        {{ openers.landing(opener, entry) }}
    {% endif %}


    {# Builder #}
    {% if builder %}
        <div class="page-wrapper">
            <div class="angle">
                {{ angles.topLarge() }}
            </div>

            <div class="background"></div>
            
            {% include '_partials/_builder-common.twig' with { 'builder': builder } %}
        </div>

    {% elseif entry.title == 'Blog' or entry.title == 'Newsroom' %}
        {% set source = entry.title == 'Blog' ? 'blog' : 'newsroom' %}

        {# Featured Carousel #}
        {{ featuredCarousel.carousel(source, true) }}
        
        {# Posts Grid #}
        {{ sprig('sprig/_sprig-news-grid', { newsType: source, limit: 12 }) }}

    {% else %}
        {# Set authors #}
        {% set authors = entry.entriesTeam %}
        {% set postAuthors = [] %}
        {% for author in authors %}
            {% set postAuthors = postAuthors|merge([author]) %}
        {% endfor %}
        {% set authorDetails = [] %}

        {% set config  = {
            'content': entry,
            'variant': 'body'
        } %}
        <section class="blog-post"{{ postAuthors|length ? ' data-authors=true' }}>
            {# Authors Aside #}
            {% if postAuthors|length %}
                {{ postAside.aside(postAuthors) }}
            {% endif %}

            {# Body #}
            <div>
                {# Imported post #}
                {% if entry.textPostImport|length %}
                    <div class="blockBody">
                        <div class="blockBody__intro">
                            {{ entry.textDescription }}
                        </div>
                    </div>
                
                    <div class="post-body">
                        {{ entry.textPostImport|raw }}
                    </div>
                {% endif %}

                {# CMS Post #}
                {% if entry.blockBody|length %}
                    {{ modules.default(config) }}
                {% endif %}
            </div>


        </section>
    {% endif %}
{% endblock %}