{# ===========================================================
Template: interior/news-and-insights.twig
URL: /
===========================================================
News & Insights Interior template
=========================================================== #}

{% extends '_layouts/_base' %}

{% import '_macros/03_modules/_feed' as feeds %}
{% import '_macros/03_modules/_opener' as openers %}

{% block content %}

    {# INTERIOR OPENER #}
    {% set entrySection = entry.section.handle %}
    {% set opener = entry.openerLanding %}

    {% if entrySection == 'blog' %}
        {{ openers.post(entry) }}
    {% elseif entrySection == 'newsroom' %}
        {{ openers.post(entry) }}
    {% else %}
        {% set opener = entry.openerLanding %}
        {{ openers.landing(opener, entry) }}
    {% endif %}


    {# INTERIOR BUILDER: #}
    {# 1. People is a unique builder
    2. Program Areas landing is a unique builder
    3. Grantee Database is builder-less
    4. Default to common builder for everything else
    #}
    {% set isBlog = entrySection == 'blog' %}
    {% set isNews = entrySection == 'newsroom' %}
    {% set builder = entry.builderCommon ?? null %}

    {% if builder %}
        {% include '_partials/_builder-common.twig' with { 'builder': builder } %}

    {% elseif entry.title == 'Blog' %}
        {{ sprig('sprig/_sprig-news-grid', { newsType: 'blog', limit: 12 }) }}

    {% elseif entry.title == 'Newsroom' %}
        {{ sprig('sprig/_sprig-news-grid', { newsType: 'newsroom', limit: 12 }) }}

    {% elseif isBlog %}
        {% import "_macros/03_modules/_text.twig" as modules %}
        {% set config  = {
                'content': entry,
                'variant': 'body'
            } %}
        <section class="blog-post">
            {{ modules.default(config) }}
        </section>
    {% elseif isNews %}
        {% import "_macros/03_modules/_text.twig" as modules %}
        {% set config  = {
                'content': entry,
                'variant': 'body'
            } %}
        <section class="blog-post">
            {{ modules.default(config) }}
        </section>
    {% endif %}
{% endblock %}