{# ===========================================================
Template: interior/index.twig
URL: /
===========================================================
Interior template
=========================================================== #}

{% extends '_layouts/_base' %}

{% import '_macros/01_elements/_actions' as actions %}
{% import '_macros/01_elements/_angles' as angles %}
{% import '_macros/01_elements/_section-title' as sectionTitles %}
{% import '_macros/03_modules/_feed' as feeds %}
{% import '_macros/03_modules/_opener' as openers %}

{% set opener = entry.openerLanding %}
{% set builder =
    entry.builderCommon ??
    entry.builderProgramAreas ??
    entry.builderInquiryForm
%}


{% block content %}
    {# Opener #}
    {{ openers.landing(opener, entry) }}


    {# Page #}
    {% if entry.type == 'landing' %}
        {% include '_partials/_builder-program-areas.twig' with {'builder': builder} %}
    {% else %}
        <div class="page-wrapper">
            <div class="angle">
                {{ angles.topLarge() }}
            </div>

            <div class="background"></div>


            {% if entry.type == 'subPage' %}
                {% include '_partials/_builder-common.twig' with {'builder': builder} %}

            {% elseif entry.type == 'inquiryForm' %}
                {% include '_partials/_builder-common.twig' with {'builder': builder} %}
                {% set inquiryForm = entry.formWildcard.one %}

                {% if inquiryForm|length %}
                    {{ craft.formie.renderForm(inquiryForm, {
                        themeConfig: {
                            formWrapper: false,
                            resetClasses: true,
                            
                            form: {
                                attributes: {
                                    class: 'form form--full',
                                },
                            },
                            
                            row: {
                                attributes: {
                                    class: 'field-wrapper',
                                },
                            },

                            nestedFieldRows: false,
                            nestedFieldContainer: false,


                            fieldRequired: false,

                            fieldError: {
                                attributes: {
                                    class: 'field-error',
                                },
                            }
                        }
                    }) }}
                {% endif %}

                <div class="container-narrow" style="padding-block-end:var(--base-18)">
                    <img src="{{ siteUrl }}build/images/ac-inquiry-form.png">
                </div>
            {% endif %}


            {# Interior Pre-Footer #}
            {% set teamFeed = entry.feedTeam ?? entry.feedTeam %}
            {% if teamFeed|length %}
                {% set title = teamFeed.one.teamTitle %}
                {% set feed  = teamFeed.one.team %}
                {% set feedConfig = {
                    'title': title,
                    'titleVariant': '',
                    'feed': feed,
                    'gridVariant': 'grid',
                    'cardVariant': 'bio'
                } %}

                {{ feeds.feed(feedConfig) }}
            {% endif %}


            {% if entry.textPlainHeading or entry.textDescription %}
                {% if entry.type == 'inquiryForm' %}
                {% else %}
                    {# <section class="prefooterInquiry">
                        {% set action = entry.actionAll %}

                        {% if entry.textPlainHeading %}
                            <h2>{{ entry.textPlainHeading }}</h2>
                        {% endif %}
                        {% if entry.textDescription %}
                            <div class="prefooterInquiry__description">
                                {{ entry.textDescription }}
                            </div>
                        {% endif %}

                        {% if action.url|length %}
                            {% set actionAttributes = {
                                type: 'button', isReversed: false,
                                icon: '', iconOnly: false,
                                text: action.text, url: action,
                                linkType: 'entry', target: action.target
                            } %}
                            {{ actions.action(actionAttributes) }}
                        {% endif %}
                    </section> #}
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}