{# =======================================
  Macro: Accordion Component
==========================================
  Params:
    - accordion (required)
      [
        { panel.title, panel.body },
        { panel.title, panel.body }
      ]
    - variant:
      'large', 'small'
======================================= #}

{% macro accordion(accordion, variant, singleColumn) %}
  {% import '_macros/01_elements/_actions' as actions %}

  {% set accordionID = 'accordion-' ~ random() %}

  <div class="accordion" role="group" id="{{ accordionID }}"{{ variant != false ? ' data-variant=' ~ variant }}{{ singleColumn == true ? ' data-columns=1' }}>
    {# Panels #}
    {% for panel in accordion %}
      {% set panelID = 'panel-' ~ random() %}
      {% set panelTitle = panel.heading %}
      {% set panelBody = panel.body %}
      {% set panelAction = panel.actionLink %}

      {# Panel #}
      <details class="accordion-panel">
        {# Panel Trigger #}
        <summary class="accordion-panel__trigger" id="{{ panelID }}">
          {{ panelTitle }}
        </summary>

        {# Panel Copy #}
        <div class="accordion-panel__body">
          <div class="copy">
            {{ panelBody }}
          </div>
          
          {% if panelAction.url %}
            {% set linkAttributes = {
              type: 'link', isReversed: false,
              icon: 'linkType', iconOnly: false,
              text: panelAction.text, url: panelAction.url,
              linkType: panelAction.type, target: panelAction.target
            } %}

            <div class="body__action">
              {{ actions.action(linkAttributes) }}
            </div>
          {% endif %}
        </div>
      </details>
    {% endfor %}
  </div>
{% endmacro %}