{# _macros/02_components/_card.twig #}

{% macro default(config) %}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_image' as images %}

    {% set variant = 'variant' in config|keys ? config.variant : '' %}
    {% set content = 'content' in config|keys ? config.content : null %}
    {% set reversed = 'reversed' in config|keys ? config.reversed : false %}

    {% if content %}
        {% set card      = content.cardSimple %}
        {% set alignment = card.styleAlignment %}
        {% set image     = card.assetImage.one() %}
        {% set heading   = card.textHeading %}
        {% set label     = card.textPreheading %}
        {% set support   = card.textSupporting %}
        {% set action    = card.actionLink %}

        {% switch variant %}
            {% case 'feature' %} 

                <article class="cardItem cardItem--feature cardItem--{{ image ? 'with' : 'no' }}-image{{ image and alignment == 'right' ? ' cardItem--align-right' }}"{{ reversed == true ? ' data-is-reversed=true' }}>
                    <div class="cardItem__inner">
                        {# Image #}
                        {% if image %}
                            <div class="cardItem__media">
                                {{ images.image(image, '1024', '16/9', '', false) }}
                            </div>
                        {% endif %}

                        {{ image ? '<div class="cardItem__content">' }}
                        {# Header #}
                        <header class="cardItem__header">
                            <h3 class="cardItem__heading">{{ heading }}</h3>
                            <span class="cardItem__label">{{ label }}</span>
                        </header>

                        {# Body #}
                        <div class="cardItem__body">
                            <div class="cardItem__support">{{ support }}</div>

                            {% if action.url|length %}
                                <div class="cardItem__action">
                                    {% set actionAttributes = {
                                        type: 'button', isReversed: reversed,
                                        icon: '', iconOnly: false,
                                        text: action.text, url: action,
                                        linkType: 'entry', target: action.target
                                    } %}

                                    {{ actions.action(actionAttributes) }}
                                </div>
                            {% endif %}
                        </div>
                        {{ image ? '</div>' }}
                    </div>
                </article>

            {% default %}
                <div class="blockGeneric">
                    <h2 class="blockGeneric-heading">This is my default card block</h2>
                    {{ content|keys|json_encode }}
                </div>

        {% endswitch %}
    {% endif %}
{% endmacro %}


{% macro action(card, isReversed) %}
    {% import '_macros/01_elements/_actions' as actions %}

    {% set support = card.textSupporting %}
    {% set actionAttributes = {
        type: 'link', isReversed: false,
        icon: 'arrow', iconOnly: false,
        text: card.actionLink.text, url: 'website',
        linkType: 'url', target: '_blank'
    } %}

    <div class="cardItem cardItem--action"{{ isReversed ? ' data-is-reversed=' ~ isReversed }}>
        <div class="cardItem__support">
            {{ support }}
        </div>
          
        <div class="cardItem__action">
            {{ actions.action(actionAttributes) }}
        </div>
    </div>
{% endmacro %}


{% macro bio(person) %}
    {# variant: grid/list #}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_details' as details %}
    {% import '_macros/01_elements/_image' as images %}

    {% set image = person.assetImage.one %}
    {% set name = person.title %}
    {% set pronouns = person.textPronouns %}
    {% set jobTitle = person.textJob %}
    {% set linkAttributes = {
        type: 'link', isReversed: false,
        icon: 'arrow', iconOnly: false,
        text: 'Bio', url: person.url,
        linkType: 'entry', target: ''
    } %}
    {% set buttonAttributes = {
        type: 'button', isReversed: false,
        icon: 'arrow', iconOnly: false,
        text: 'Bio', url: person.url,
        linkType: 'entry', target: ''
    } %}

    <div class="cardItem cardItem--bio">
        {# Image #}
        {% if image %}
            <div class="cardItem__media">
                {{ images.image(image, '640', '16/9', '', false) }}
            </div>
        {% endif %}

        <div class="cardItem__content">
            <div class="cardItem__info">
                {# Name & Pronouns #}
                <h3 class="cardItem__heading">
                    <a href="{{ person.url }}">{{ name }}</a>
                </h3>

                {% if pronouns or jobTitle %}
                    <div class="cardItem__details">
                        {% if pronouns|length %}
                            <p class="details__pronouns">{{ pronouns }}</p>
                        {% endif %}
                        {% if jobTitle|length %}
                            {{ details.detail('job-title', false, jobTitle) }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {# Tags #}

            {# Action #}
            <div class="cardItem__action">
                <div class="cardItem__link">
                    {{ actions.action(linkAttributes) }}
                </div>
                <div class="cardItem__button">
                    {{ actions.action(buttonAttributes) }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro generic(card) %}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_image' as images %}

    {% set image   = card.image %}
    {% set label   = card.label %}
    {% set title   = card.title %}
    {% set summary = card.summary %}
    {% set action  = card.action %}

    <article class="cardItem cardItem--generic">
        <div class="cardItem__inner">
            {# Image #}
            {% if image %}
                <div class="cardItem__media">
                    {{ images.image(image, '912', '16/9', '', false) }}
                </div>
            {% endif %}

            {# Header #}
            <header class="cardItem__header">
                <h3 class="cardItem__heading">{{ title }}</h3>
                {% if label|length %}
                    <span class="cardItem__label">{{ label }}</span>
                {% endif %}
            </header>

            {# Content #}
            <div class="cardItem__content">
                {# Summary #}
                {% if summary|length %}
                    <div class="cardItem__summary">
                        {{ summary }}
                    </div>
                {% endif %}

                {# Action #}
                {% if action.url|length %}
                    <div class="cardItem__actions">
                        {% set actionAttributes = {
                            type: 'button', isReversed: false,
                            icon: 'linkType', iconOnly: false,
                            text: action.text, url: action,
                            linkType: action.type, target: action.target
                        } %}

                        {{ actions.action(actionAttributes) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </article>
{% endmacro %}


{% macro grantee(config) %}
    {% import '_macros/tag-logic' as tagLogic %}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_details' as details %}
    {% import '_macros/01_elements/_image' as images %}

    {% set variant = 'variant' in config|keys ? config.variant : '' %}
    {% set variant = variant == 'featured' ? 'large' : variant %}

    {% set card     = config.grantee %}
    {% set reversed = 'reversed' in config|keys ? config.reversed : false %}
    {% set image    = card.assetImage ? card.assetImage.one() : null %}
    {% set name     = card.title %}
    {% set label    = 'label' in config|keys ? config.label : null %}
    {% set summary  = card.textDescription ?? card.textDescription %}
    {% set location = card.textLocation %}
    {% set region   = 'Placeholder Region' %}
    {% set profile  = card.url %}
    {% set website  = card.contactWebsite %}

    {# All grants associated with grantee #}
    {% set grantList = craft.entries().section('grants').entriesOrganization(card).all() %}

    <article class="cardItem cardItem--grantee"{{ variant|length ? ' data-variant=' ~ variant }}{{ reversed == true ? ' data-is-reversed=true' }}>
        <div class="cardItem__inner">
            {# Image #}
            {% if image %}
                <div class="cardItem__media">
                    {{ images.image(image, '912', '16/9', '', false) }}
                </div>
            {% endif %}

            {# Header #}
            <header class="cardItem__header">
                <h3 class="cardItem__heading">{{ name }}</h3>
                {% if label %}
                    <span class="cardItem__label">{{ label }}</span>
                {% endif %}
            </header>

            {# Content #}
            <div class="cardItem__content">
                {# Summary #}
                {% if summary %}
                    <div class="cardItem__summary">
                        {{ summary }}
                    </div>
                {% endif %}

                <div class="cardItem__secondary">
                    {# Location/Region #}
                    {% if location|length %}
                        {{ details.detail('location', false, location) }}
                    {% endif %}

                    {# Tags #}
                    {{ tagLogic.tags(grantList)}}

                    {# Actions #}
                    <div class="cardItem__actions">
                        {% set profileActionAttributes = {
                            type: 'button', isReversed: reversed,
                            icon: '', iconOnly: false,
                            text: 'Profile', url: profile,
                            linkType: 'entry', target: ''
                        } %}
                        {% set websiteActionAttributes = {
                            type: 'link', isReversed: reversed,
                            icon: 'link-out', iconOnly: false,
                            text: 'Website', url: website,
                            linkType: 'url', target: '_blank'
                        } %}
                        
                        {# Profile #}
                        {{ actions.action(profileActionAttributes) }}

                        {# Website #}
                        {% if website|length %}
                            {{ actions.action(websiteActionAttributes) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endmacro %}


{# Media #}
{% macro media(card) %}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_image' as images %}
    {% import '_macros/02_components/_video-player' as videoPlayers %}

    {% set variant = card.variant %}
    {% set image = card.image %}
    {% set videoUrl = card.videoUrl ?? card.videoUrl %}
    {% set label = card.label %}
    {% set title = card.title %}
    {% set summary = card.summary %}
    {% set action = card.action ?? card.action %}
    {% set audioSnippet = card.audioSnippet ?? card.audioSnippet %}

    <article class="cardItem cardItem--media">
        <div class="cardItem__inner">
            {# Image #}
            <div class="cardItem__media">
                {% if videoUrl %}
                    <div class="video__video-container">
                        {{ videoPlayers.videoPlayer(videoUrl, image, 'card')}}
                    </div>
                {% else %}
                    {{ images.image(image, '640', '16/9', '', false) }}
                {% endif %}
            </div>

            {# Header #}
            <header class="cardItem__header">
                <h3 class="cardItem__heading">{{ title }}</h3>
                {% if label %}
                    <span class="cardItem__label">{{ label }}</span>
                {% endif %}
            </header>

            {# Summary #}
            {% if summary|length %}
                <div class="cardItem__summary">
                    {{ summary }}
                </div>
            {% endif %}

            {# Content #}
            <div class="cardItem__actions">
                {% if audioSnippet %}
                    {% set audioID = 'audio' ~ random() %}

                    <figure class="audio">
                        <audio class="audio__src" id="{{ audioID }}" controls>
                            <source src="{{ siteUrl }}{{ audioSnippet.url }}" type="audio/mp3">
                        </audio>
                    </figure>
                {% endif %}

                {# Action #}
                {% if action and action.url %}
                    {% set actionAttributes = {
                        type: audioSnippet ? 'link' : 'button', isReversed: false,
                        icon: 'linkType', iconOnly: false,
                        text: action.text, url: action.url,
                        linkType: action.type, target: action.target
                    } %}
                            
                    {{ actions.action(actionAttributes) }}
                {% endif %}
            </div>
        </div>
    </article>
{% endmacro %}


{# News #}
{% macro news(card) %}
    {% import '_macros/tag-logic' as tagLogic %}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_details' as details %}
    {% import '_macros/01_elements/_image' as images %}

    {% set image = card.assetImage.one %}
    {% set label = '' %}
    {% set publication = card.textPublication %}
    {% set title = card.title %}

    {# Set published date #}
    {% set publishedDate = card.postDate %}

    {# Set authors #}
    {% set authors = card.textName %}

    {# Set tags #}
    {% set tagsList = [card] %}

    {# Set summary #}
    {% set summary = card.textDescription %}

    {# Set action #}
    {% set action = card.actionLink %}

    <article class="cardItem cardItem--generic">
        <div class="cardItem__inner">
            {# Image #}
            {% if image %}
                <div class="cardItem__media">
                    {{ images.image(image, '912', '16/9', '', false) }}
                </div>
            {% endif %}

            {# Header #}
            <header class="cardItem__header">
                {% if publication|length %}                    
                    <div>
                        <h3 class="cardItem__publication">{{ publication }}</h3>
                        <h4 class="cardItem__heading">{{ title }}</h4>
                    </div>
                {% else %}
                    <h3 class="cardItem__heading">{{ title }}</h3>
                {% endif %}
                <span class="cardItem__label">In the News</span>
            </header>

            {# Content #}
            <div class="cardItem__content">
                {# Details #}
                <div class="cardItem__details">
                    {# Published date #}
                    <time class="cardItem__published-date" datetime="{{ publishedDate|date('Y-m-d') }}">{{ publishedDate|date("M d, Y") }}</time>

                    {# Authors #}
                    {% if authors|length %}                    
                        <p class="cardItem__authors">{{ authors }}</p>
                    {% endif %}
                </div>

                {# Summary #}
                {% if summary|length %}
                    <div class="cardItem__summary">
                        {{ summary }}
                    </div>
                {% endif %}

                {# Actions #}
                <div class="cardItem__actions">
                    {# Tags #}
                    {% if tagsList|length %}
                        <div class="cardItem__tags">
                            {{ tagLogic.tags(tagsList)}}
                        </div>
                    {% endif %}

                    {# Action #}
                    {% if action.url|length %}
                        <div class="cardItem__action">
                            {% set actionAttributes = {
                                type: 'button', isReversed: false,
                                icon: 'linkType', iconOnly: false,
                                text: action.text, url: action,
                                linkType: action.type, target: action.target
                            } %}

                            {{ actions.action(actionAttributes) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endmacro %}


{# Post #}
{% macro post(post) %}
    {% import '_macros/tag-logic' as tagLogic %}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_details' as details %}
    {% import '_macros/01_elements/_image' as images %}

    {% set url   = post.url %}
    {% set image = post.assetImage.one %}
    {% set title = post.title %}

    {# Set published date #}
    {% set publishedDate = post.postDate %}

    {# Set authors #}
    {% set authors = post.entriesTeam %}
    {% set postAuthors = [] %}
    {% for author in authors %}
        {% set postAuthors = postAuthors|merge([author]) %}
    {% endfor %}
    {% set authorDetails = [] %}

    {# Set tags #}
    {% set tagsList = [post] %}

    {# Set summary #}
    {% set summary = post.textDescription %}

    {# Set action #}
    {% set action = post.actionLink %}

    <article class="cardItem cardItem--generic">
        <div class="cardItem__inner">
            {# Image #}
            {% if image %}
                <div class="cardItem__media">
                    {{ images.image(image, '912', '16/9', '', false) }}
                </div>
            {% endif %}

            {# Header #}
            <header class="cardItem__header">
                <h3 class="cardItem__heading">{{ title }}</h3>
                <span class="cardItem__label">Blog Post</span>
            </header>

            {# Content #}
            <div class="cardItem__content">
                {# Details #}
                <div class="cardItem__details">
                    {# Published date #}
                    <time class="cardItem__published-date" datetime="{{ publishedDate|date('Y-m-d') }}">{{ publishedDate|date("M d, Y") }}</time>

                    {# Authors #}
                    {% if postAuthors|length %}                    
                        {% for postAuthor in postAuthors %}
                            {# Set author image #}
                            {% set authorImage = postAuthor.assetImage.one %}

                            {# Set name #}
                            {% set authorName = postAuthor.title %}

                            {% set authorDetails = authorDetails|merge([
                                { 'img': authorImage, 'name': authorName }
                            ]) %}
                        {% endfor %}
                        {{ details.detail('byline', false, authorDetails) }}
                    {% endif %}
                </div>

                {# Summary #}
                {% if summary|length %}
                    <div class="cardItem__summary">
                        {{ summary }}
                    </div>
                {% endif %}

                {# Actions #}
                <div class="cardItem__actions">
                    {# Tags #}
                    {% if tagsList|length %}
                        <div class="cardItem__tags">
                            {{ tagLogic.tags(tagsList)}}
                        </div>
                    {% endif %}

                    {# Action #}
                    <div class="cardItem__action">
                        {% set actionAttributes = {
                            type: 'button', isReversed: false,
                            icon: 'linkType', iconOnly: false,
                            text: 'Read More', url: url,
                            linkType: 'entry', target: ''
                        } %}

                        {{ actions.action(actionAttributes) }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endmacro %}


{# grant
    Called by _entry-grants-org.twig and _entry-grants-org.twig
    @param $config object
#}
{% macro grant(config) %}
    {% import '_macros/01_elements/_actions' as actions %}
    {% import '_macros/01_elements/_details' as details %}

    {% set variant = 'variant' in config|keys ? config.variant : '' %}
    {% set content = 'content' in config|keys ? config.content : null %}

    {% if content %}
        {% set org   = 'grantee' in content|keys ? content.grantee %} 
        {% set grant = 'grant' in content|keys ? content.grant %} 

        {# Organization or Grant Info #}
        {% set title       = org ? org.title : (grant ? grant.title) %}
        {% set description = grant ? grant.textDescription %}
        {% set profile     = org ? org.uri %}
        {% set website     = org ? org.contactWebsite %}

        {# Grant Detail Object #}
        {% set detailObj = {
            'Fiscal Sponsor': grant ? grant.textName,
            'Award Date': grant ? grant.postDate|date("m/d/Y"),
            'Amount': grant ? grant.textAmount,
            'Term': grant ? grant.textTerm,
            'Program(s)': grant ? grant.tagsProgramAreas.all(),
            'Strategies': grant ? grant.tagsStrategies.all()
        }%}

        <article class="cardItem cardItem--grant">
            <div class="cardItem__inner">
                {# Header #}
                <header class="cardItem__header">
                    {% if org %}
                        <h3 class="cardItem__heading">{{ title }}</h3>
                    {% endif %}
                
                    {# Summary #}
                    {% if description|length %}
                        <p class="cardItem__description">
                            {{ description }}
                        </p>
                    {% endif %}
                </header>

                {# Content #}
                <div class="cardItem__table">
                    {% for label, detail in detailObj %}
                        <div class="table-item__tr{{ detail is iterable and detail|length ? ' table-item__tr--tags' }}">
                            <h4 class="table-item__th">{{ label }}</h4>
                            <div class="table-item__td">
                                {% if detail == '' or (detail is iterable and detail|length == 0 ) %}
                                    N/A
                                {% elseif detail is iterable %}
                                    {# Tags #}
                                    {{ details.detail('tags', false, detail) }}
                                {% else %}
                                    {{ detail }}{{ label == 'Term' ? ' mo.' }}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {# Actions #}
                {% if org %}
                    <div class="cardItem__actions">
                        {% set profileAttributes = {
                            type: 'link', isReversed: false,
                            icon: '', iconOnly: false,
                            text: 'Profile', url: siteUrl ~ profile,
                            linkType: 'entry', target: ''
                        } %}
                        {{ actions.action(profileAttributes) }}

                        {% if website|length %}
                            {% set actionAttributes = {
                                type: 'link', isReversed: false,
                                icon: 'linkType', iconOnly: false,
                                text: 'Website', url: website,
                                linkType: 'url', target: '_blank'
                            } %}
                            {{ actions.action(actionAttributes) }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </article>
    {% endif %}
{% endmacro %}