{# _macros/02_components/_card.twig #}

{% macro default(config) %}
{% set variant = 'variant' in config|keys ? config.variant : '' %}
{% set content = 'content' in config|keys ? config.content : null %}

{% if content %}
{% set card     = content.cardSimple %} {# might want to move this inside the feature case #}
{% set support  = card.textSupporting %}
{% set label    = card.textPreheading %}
{% set heading  = card.textHeading %}
{% set image    = card.assetImage.one() %}
{% set action   = card.actionLink %}
{% set external = ( action.type == 'url' ) %}

{% switch variant %}

    {% case 'feature' %} 

        <article class="cardItem cardItem--feature">
            <span class="cardItem-preheading">{{ label }}</span>
            <h3 class="cardItem-heading">{{ heading }}</h3>
            <div class="cardItem-support">{{ support }}</div>
            <a 
                class="cardItem-button" 
                href="{{ card.uri }}" 
                title="Go to {{ heading }}"
                {% if external %}
                target="_blank"
                {% endif %}>
                Action 
            </a>
        </article>

    {% default %}
        <div class="blockGeneric">
            <h2 class="blockGeneric-heading">This is my default card block</h2>
            {{ content|keys|json_encode }}
        </div>

{% endswitch %}
{% endif %}
{% endmacro %}

{# grant
    Called by _entry-grants-org.twig and _entry-grants-org.twig
    @param $config object
#}
{% macro grant(config) %}
{% set variant = 'variant' in config|keys ? config.variant : '' %}
{% set content = 'content' in config|keys ? config.content : null %}

{% if content %}
{% set org   = 'grantee' in content|keys ? content.grantee %} 
{% set grant = 'grant' in content|keys ? content.grant %} 

{# Organization or Grant Info #}
{% set heading  = org ? org.title : (grant ? grant.title) %}
{% set support  = grant ? grant.textDescription %}
{% set profile  = org ? org.uri %}
{% set website  = org ? org.contactWebsite %}
{# Grant Detail Object #}
{% set detailObj = {
    'Fiscal Sponsor': grant ? grant.textName,
    'Award Date': grant ? grant.dateOnly|date("m/d/Y"),
    'Amount': grant ? grant.textAmount,
    'Term': grant ? grant.textTerm,
    'Program(s)': grant ? grant.tagsProgramAreas.all(),
    'Strategies': grant ? grant.tagsStrategies.all()
}%}

<article class="feedItem{% if variant %} feedItem--{{ variant }}{% endif %}">

    <h3 class="feedItem-heading{% if not org %} _is-hidden{% endif %}">{{ heading }}</h3>
    <div class="feedItem-support">{{ support }}</div>

    <div class="feedItem-table">
        {# TODO: 
            1. Elegantly handle cases in which there is no detail content;
               Temporarily rendering "N/A" in these cases.
        #}
        {% for label, detail in detailObj %}
        <div class="feedItem-tr">
            <h3 class="feedItem-th">{{ label }}</h3>
            <div class="feedItem-td">
                {% if detail == '' or (detail is iterable and detail|length == 0 ) %}
                N/A
                {% elseif detail is iterable %}
                {% for d in detail %}
                {# Tag link #}
                <a 
                    class="feedItem-tag"
                    href="#" 
                    title="">{{ d }}</a>
                {% endfor %}
                {% else %}
                {{ detail }}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>  

    <div class="feedItem-footer">
        {% if profile %}
        <a 
            class="feedItem-cta" 
            href="{{ alias('@baseUrl' ~ '/' ~ profile) }}"
            title="Go to {{ heading }}">
            Profile
        </a>
        {% endif %}

        {% if website %}
        <a 
            class="feedItem-cta" 
            href="{{ website }}" 
            title="Go to {{ heading }} website"
            target="_blank">
            Website
        </a>
        {% endif %}
    </div>
</article>

{% endif %}
{% endmacro %}