{# _macros/02_components/_carousel.twig #}
{% macro default(config) %}
    {% import '_macros/02_components/_card' as cards %}

    {% set variant = 'variant' in config|keys ? config.variant : '' %}
    {% set content = 'content' in config|keys ? config.content : null %}

    {# Set Carousel type #}
    {% set carouselType = content.children.one.type %}

    {# Set action card #}
    {% set actionCard = content.children.one.cardAction %}


    {# ---  Carousel  --- #}
    <div class="carousel" data-variant="{{ carouselType == 'carouselQuotes' ? 'quotes' : 'cards' }}">
        <div class="swiper">
            <div class="swiper-wrapper">
                {# Quotes #}
                {% if carouselType == 'carouselQuotes' %}
                    {% set quotesFeed = content.children.one.carouselQuotes %}
                    {{ _self.carouselQuotesLogic(quotesFeed) }}

                {# Bios #}
                {% elseif carouselType == 'carouselBios' %}
                    {% set carouselBiosConfig = content.children.one.carouselBios.one %}
                    {{ _self.carouselBiosLogic(carouselBiosConfig) }}

                {# Manual #}
                {% elseif carouselType == 'carouselManual' %}
                    {% set manualFeed = content.children.one.carouselManual %}
                    {{ _self.carouselManualLogic(manualFeed) }}

                {# Auto #}
                {% elseif carouselType == 'carouselAuto' %}
                    <div style="background-color: salmon;padding-block: 24px">AUTO</div>
                    {% set carousel = content.children.one.carouselAuto.one %}
                    {% set autoFeed = carousel.sources %}
                    {% set numberOfCards = carousel.numberOfCards %}

                    {{ _self.carouselAutoLogic(autoFeed, numberOfCards) }}
                {% endif %}
            </div>

            {# ---  Controls  --- #}
            <div class="carousel__controls">
                {# Previous #}
                <button class="controls__button controls__prev | swiper-button-prev">
                    <span>Previous slide</span>
                    <svg>
                        <use xlink:href="{{ alias('@icon') }}arrow-20"></use>
                    </svg>
                </button>

                {# Pagination #}
                <div class="controls__pagination"></div>

                {# Next #}
                <button class="controls__button controls__next | swiper-button-next">
                    <span>Next slide</span>
                    <svg>
                        <use xlink:href="{{ alias('@icon') }}arrow-20"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    {# ---  Action Card  --- #}
    {% if actionCard|length %}
        {{ cards.action(actionCard) }}
    {% endif %}


    {# Quotes #}
    {% macro carouselQuotesLogic(quotesFeed) %}
        {% import '_macros/02_components/_quote' as quoteComponent %}
        {% for quote in quotesFeed %}
            {% set image = quote.assetImage.one() %}

            {% set attr = quote.attribution.one() %}
            {% set attrPerson = [] %}
            {% set attrTitle = '' %}
            {% set attrOrg = '' %}
            {% set attrLink = '' %}

            {% if attr and attr.type == 'internal' %}
                {% set attribution = attr.item.one() %}
                {% set attrImage = attribution.assetImage.one %}
                {% set attrName =
                    attribution.textMiddle|length ? attribution.textFirst ~ ' ' ~ attribution.textMiddle ~ ' ' ~ attribution.textLast :
                    attribution.textFirst ~ ' ' ~ attribution.textLast
                %}
                {% set attrPerson = attrPerson|merge([
                    { 'img': attrImage, 'name': attrName }
                ]) %}
                {% set attrTitle = attribution.textJob %}

            {% elseif attr and attr.type == 'external' %}
                {% set attrPerson = attrPerson|merge([
                    { 'img': '', 'name': attr.fullName }
                ]) %}
                {% set attrTitle = attr.jobTitle %}
                {% set attrOrg = attr.organization %}

            {% endif %}
                    
            {% set attribution = {
                'person': attrPerson,
                'title': attrTitle,
                'org': attrOrg,
                'link': attrLink
            } %}

            {% set quote = quote.quote %}

            {# ---  Slide  --- #}
            <div class="slide | swiper-slide">
                {{ quoteComponent.quote(quote, attribution, image) }}
            </div>
        {% endfor %}
    {% endmacro %}

    {# Bios #}
    {% macro carouselBiosLogic(config) %}
        {% import '_macros/02_components/_card' as cards %}
        
        {% set category = config.tagsEntry.one %}
        {% set limit    = config.numberOfCards %}

        {% set bios = craft.entries()
            .section('directory')
            .orderBy('RAND()')
            .limit(limit)
            .all()
        %}

        {% for bio in bios %}
            {# ---  Slide  --- #}
            <div class="slide | swiper-slide">
                {{ cards.bio(bio) }}
            </div>
        {% endfor %}
    {% endmacro %}

    {# Manual #}
    {% macro carouselManualLogic(manualFeed) %}
        {# Set empty feedCards array #}
        {% set feedCards = [] %}

        {% for card in manualFeed %}
            {% if card.type == 'entry' %}
                {% set card = card.entry.one %}
            {% endif %}

            {% set feedCards = feedCards|merge([card]) %}
        {% endfor %}

        {{ _self.cards(feedCards) }}
    {% endmacro %}

    {# Auto #}
    {% macro carouselAutoLogic(autoFeed, limit) %}
        {% set sources = [] %}
        {% for source in autoFeed %}
            {% set sources = sources|merge([source.value]) %}
        {% endfor %}

        {% set autoCards = craft.entries().section(sources).limit(limit) %}
        
        {{ _self.cards(autoCards) }}
    {% endmacro %}

    {# Cards #}
    {% macro cards(feedCards) %}
        {% import '_macros/02_components/_card' as cards %}
                
        {% for card in feedCards %}
            {% if card.type == 'generic' %}
                {% set cardConfig  = {
                    'variant': card.type,
                    'image': card.assetImage.one(),
                    'label': card.label,
                    'title': card.cardTitle,
                    'summary': card.summary,
                    'action': card.actionLink
                } %}
                {# ---  Slide  --- #}
                <div class="slide | swiper-slide">
                    {{ cards.generic(cardConfig) }}
                </div>
            {% elseif card.type == 'audio' or card.type == 'video' %}
                {% set cardConfig  = {
                    'variant': card.type,
                    'image': card.assetImage.one(),
                    'videoUrl': card.type == 'video' ? card.videoUrl : null,
                    'label': card.label,
                    'title': card.cardTitle,
                    'summary': card.summary,
                    'action': card.actionLink,
                    'audioSnippet': card.type == 'audio' ? card.audioSnippet.one : null
                } %}
                                
                {# ---  Slide  --- #}
                <div class="slide | swiper-slide">
                    {{ cards.media(cardConfig) }}
                </div>
            {% else %}
                {% set cardVariant =
                    card.section.handle == 'blog' ? 'post' :
                    card.section.handle == 'newsroom' ? 'news'
                    : card.section.handle
                %}

                {% if cardVariant == 'directory' %}
                    {% set bio = card %}

                    {# ---  Slide  --- #}
                    <div class="slide | swiper-slide">
                        {{ cards.bio(bio) }}
                    </div>
                {% elseif cardVariant == 'grantees' %}
                    {% set grantee = card %}
                    {% set granteeCardConfig = {
                        'grantee': grantee
                    } %}

                    {# ---  Slide  --- #}
                    <div class="slide | swiper-slide">
                        {{ cards.grantee(granteeCardConfig) }}
                    </div>
                {% elseif cardVariant == 'post' %}
                    {% set postCardConfig = {
                        'post': card
                    } %}

                    {# ---  Slide  --- #}
                    <div class="slide | swiper-slide">
                        {{ cards.post(postCardConfig) }}
                    </div>

                {% elseif cardVariant == 'news' %}
                    {% set newsCardConfig = {
                        'card': card
                    } %}

                    {# ---  Slide  --- #}
                    <div class="slide | swiper-slide">
                        {{ cards.news(newsCardConfig) }}
                    </div>
                {% elseif cardVariant == 'grants' %}
                    {# ---  Slide  --- #}
                    <div class="slide | swiper-slide">
                        <article class="cardItem cardItem--grant">
                            <div class="cardItem__inner">
                                {# Header #}
                                <header class="cardItem__header">
                                    <h3 class="cardItem__heading">Grant Placeholder Card: {{ card.title }}</h3>
                                </header>
                            </div>
                        </article>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endmacro %}
{% endmacro %}