{# _macros/02_components/_feed.twig #}

{% macro default(config) %}
    {% import '_macros/02_components/_card' as cards %}
    {% import '_macros/03_modules/_grantees' as grantees %}

    {% set variant = 'variant' in config|keys ? config.variant : '' %}
    {% set content = 'content' in config|keys ? config.content : null %}

    {% switch variant %}
        {% case 'grantees' %}
            {% set config = {
                'grantees': config.content.entriesGrantee,
                'feature': config.content.flagFeature,
                'action': config.content.cardAction
            } %}
            {{ grantees.granteesGrid(config) }}

        {% case 'news' %}

            <div class="blockGeneric">
                <h2 class="blockGeneric-heading">This is my news feed</h2>

                {% set cardList = content.cardNews.all() %}
                {% for item in cardList %}
                    {% set type = item.type %} {# entry or media #}
                    {% set card = type == 'entry' ? item.entriesWildcard.one() : item.assetMedia.one() %}
                    <div>
                        This is my {{ type }} card.
                    </div>
                {% endfor %}

        {% case 'bio' %}

            {% set personType = content.cardPersonType.one() %}

            <div class="blockGeneric">
                <h2 class="blockGeneric-heading">This is my {{ personType.title }} bio feed</h2>
            </div>

        {% case 'media' %}
            {% set cards = content.cardMedia %}

            <div class="cardRow" data-columns="{{ cards|length }}">
                {% for card in cards %}
                    {% set cardConfig  = {
                        'variant': card.type,
                        'image': card.assetImage.one(),
                        'label': card.label,
                        'title': card.cardTitle,
                        'videoUrl': card.type == 'video' ? card.videoUrl : null,
                        'action': card.type == 'video' ? card.actionLink : null,
                        'audioSnippet': card.type == 'audio' ? card.audioSnippet.one : null
                    } %}

                    {{ cards.media(cardConfig) }}
                {% endfor %}
            </div>

        {% default %}
            <div class="blockGeneric">
                <h2 class="blockGeneric-heading">This is my default card block</h2>
            </div>

    {% endswitch %}
{% endmacro %}