{# _macros/02_components/_highlight.twig #}

{% macro default(config) %}
    {% import '_macros/01_elements/_image' as images %}

    {% set variant = 'variant' in config|keys ? config.variant : '' %}
    {% set content = 'content' in config|keys ? config.content : null %}

    {% switch variant %}

        {% case 'quote' %}
            {% set highlight = content.highlightQuote.one() %}
            {% set quote = highlight.quote %}
            {% set attribution = highlight.attribution %}
            {% set image = highlight.assetImage.one() %}

            <div class="blockGeneric">
                <h2 class="blockGeneric-heading">This is my quote highlight</h2>
            </div>

        {% case 'stats' %}
            {% set heading   = content.textPlainHeading %}
            {% set statList  = content.highlightStats.all() %}
            {% set attribution = content.textDescription %}
            {% set infograph = content.assetInfographic.one() %}
            {% set styleWidth = infograph.styleWidth %}
            {% set infographImage = infograph.assetImage.one %}

            <div class="blockHighlight blockHighlight--stats"{{ infographImage ? ' data-infographic=true' }}>
                {% if heading %}
                    <h3 class="blockHighlight__heading">{{ heading }}</h3>
                {% endif %}

                <div class="blockHighlight__inner">
                    {% if infographImage %}
                        <div class="blockHighlight__infograph">
                            {{ images.image(infographImage, '1600', '', '', false) }}
                        </div>
                    {% endif %}

                    <div class="blockHighlight__stats-and-attribution">
                        <ul class="blockHighlight__stats">
                            {% for statItem in statList %}
                                {% set label = statItem.textLabel %}
                                {% set stat  = statItem.textStat %}
                                {% set desc  = statItem.textDescription %}
                                    
                                <li class="blockHighlight__stat">
                                    <div class="stat__header">
                                        <h4>{{ stat }}</h4>
                                        {% if label %}
                                            <h5>{{ label }}</h5>
                                        {% endif %}
                                    </div>
                                    {{ desc }}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if attribution|length %}
                            <div class="blockHighlight__attribution">
                                {{ attribution }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        {% default %}
            <div class="blockGeneric">
                <h2 class="blockGeneric-heading">This is my default highlight</h2>
            </div>

    {% endswitch %}
{% endmacro %}