{# _macros/02_components/_highlight.twig #}

{% macro default(config) %}
    {% import '_macros/01_elements/_details' as details %}
    {% import '_macros/01_elements/_image' as images %}
    {% import '_macros/02_components/_quote' as quote %}

    {% set variant = 'variant' in config|keys ? config.variant : '' %}
    {% set content = 'content' in config|keys ? config.content : null %}

    {% switch variant %}
        {% case 'quote' %}
            {% set highlight = content.highlightQuote.one() %}
            {% set image = highlight.assetImage.one() %}
            {% set quote = highlight.quote %}

            {% set attr = highlight.attribution.one() %}
            {% set attrPerson = [] %}
            {% set attrTitle = '' %}
            {% set attrOrg = '' %}
            {% set attrLink = '' %}

            {% if attr and attr.type == 'internal' %}
                {% set attribution = attr.item.one() %}
                {% set attrPerson = attrPerson|merge([{
                    'url': attribution.url,
                    'img': attribution.assetImage.one,
                    'name': attribution.title
                }]) %}
                {% set attrTitle = attribution.textJob %}
                {% set attrOrg = attribution.textOrganization %}

            {% elseif attr and attr.type == 'external' %}
                {% set attrPerson = attrPerson|merge([
                    { 'img': '', 'name': attr.fullName }
                ]) %}
                {% set attrTitle = attr.jobTitle %}
                {% set attrOrg = attr.organization %}

            {% endif %}
            
            {% set attribution = {
                'person': attrPerson,
                'title': attrTitle,
                'org': attrOrg,
                'link': attrLink
                }
            %}

            {{ quote.quote(quote, attribution, image) }}

        {% case 'stats' %}
            {% set heading   = content.textPlainHeading %}
            {% set statList  = content.highlightStats.all() %}
            {% set attribution = content.textDescription %}
            {% set infograph = content.assetInfographic ? content.assetInfographic.one() : null %}
            {% set styleWidth = infograph != null ? infograph.styleWidth %}
            {% set infographImage = infograph != null ? infograph.assetImage.one %}

            <div class="blockHighlight blockHighlight--stats"{{ infographImage ? ' data-infographic=true' }}>
                {% if heading %}
                    <h3 class="blockHighlight__heading">{{ heading }}</h3>
                {% endif %}

                <div class="blockHighlight__inner">
                    {% if infographImage %}
                        <div class="blockHighlight__infograph">
                            {{ images.image(infographImage, '1600', '', '', false) }}
                        </div>
                    {% endif %}

                    <div class="blockHighlight__stats-and-attribution">
                        <ul class="blockHighlight__stats" data-columns={{ statList|length }}>
                            {% for statItem in statList %}
                                {% set label = statItem.textLabel %}
                                {% set stat  = statItem.textStat %}
                                {% set desc  = statItem.textDescription %}
                                    
                                <li class="blockHighlight__stat">
                                    <div class="stat__header">
                                        <h4>{{ stat }}</h4>
                                        {% if label %}
                                            <h5>{{ label }}</h5>
                                        {% endif %}
                                    </div>
                                    {{ desc }}
                                </li>
                            {% endfor %}
                        </ul>

                        {% if attribution|length %}
                            <div class="blockHighlight__attribution">
                                {{ attribution }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endswitch %}
{% endmacro %}