{% macro sitemap() %}
    {% set sitemapGroups = craft.entries().section('sitemap').one().navigationSitemap.all() %}

    <section class="sitemap">
        <div class="sitemap__inner">
            <h2 class="sitemap__heading">Sitemap</h2>
            <div class="sitemap__link-groups">
                {% for group in sitemapGroups %}
                    {% set heading = group.navHeading %}
                    {% set links   = group.navMenu %}

                    <div class="sitemap__link-group"> 
                        <h3 class="link-group__heading">{{ heading }}</h3>
                        <ul class="link-group__menu">
                            {% for link in links %}
                                {% set link   = link.navTarget %}
                                {% set url    = link.url %}
                                {% set text   = link.text %}
                                {% set target = link.target %}
                                {% set type   = link.type %}

                                <li>
                                    <a class="link-group__action" href="{{ url }}"{{ target == '_blank' ? ' target=_"blank"' }}>
                                        {{ text }}
                                        {% if type == 'url' %}
                                            <svg class="action__icon">
                                                <use xlink:href="{{ alias('@icon') }}link-out-20"></use>
                                            </svg>
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endmacro %}